*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0rem !important;
    font-size: 20px;
}

#caixa_pres{
    height: 100vh;
}

#f-1{
    background-image: url(matheus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25%;
    border-radius: 30px;
}

#par-1{
    text-align: end;
    padding-left: 50px;
    width: 900px;
}

#f-2{
    background-image: url(file.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    border-radius: 30px;
}

#par-2{
    text-align: start;
    padding-right: 50px;
    width: 900px;
}

body{
    background: linear-gradient(to top, #FFA447, #FFA447);
    display: flex;
    align-items: center;
    justify-content: center;
}

#inicial{
    color: white;
}

#sub-h2{
    color: white;
    font-size: 24px;
}

#gift{
    animation: anima infinite 2s;
    cursor: pointer;
    height: 256px;
    width: 256px;
}

.display_none{
    display: none;
}

#surprise{
    text-align: center;
    width: 55%;
    background-color: #FFFC9B;
    padding: 10px 50px;
    border-radius: 20px;
}

#sub{
    font-size: 24px;
}

#bolo{
    width: 145px;
    height: 90px;
    cursor: pointer;
}

#fim{
    color: white;
    background-color: #F28585;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
}

@keyframes anima{
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    #surprise{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #inicial{
        text-align: center;
        margin-top: 24px;
    }

    #sub-h2{
        text-align: center;
        font-size: 18px;
    }

    body{
        height: 100%;
    }

    #bloco1{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }

    #bloco2{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #par-1{
        padding: 0;
        width: auto;
        text-align: center;
    }

    #f-1{
        height: 175px;
    }

    #par-2{
        padding: 0;
        width: auto;
        text-align: center;
    }

    #f-2{
        height: 175px;
    }
}